.board-container {
    margin-bottom: 20px;
    display: grid;
    place-content: center;
    gap: 5px 5px;
    grid-template-rows:
        minmax(50px, 105px) minmax(50px, 105px) minmax(50px, 105px) minmax(50px, 105px) minmax(50px, 105px)
        minmax(50px, 105px) minmax(50px, 105px);
}

.board-container .card {
    border: 2px solid grey;
    background-color: var(--clr2);
}

.board-container .card img {
    object-fit: cover;
    background-color: #fff;
}
