.board-container {
    display: grid;
    gap: 10px 10px;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
    perspective: 1200px;
}

.board-container .card {
    border: 2px solid grey;
}

.board-container .card img {
    object-fit: fill;
}
