@font-face {
    font-family: PermanentMarker-Regular;
    src: url(../../fonts/PermanentMarker-Regular.ttf);
}
@font-face {
    font-family: PatrickHand-Regular;
    src: url(../../fonts/PatrickHand-Regular.ttf);
}
