.main-layout {
    display: grid;
    place-content: center;
    column-gap: 0.3rem;
    grid-template-columns: 0px 1fr 0px;
}

.main-layout > * {
    grid-column: 2;
}

.main-layout > .full {
    grid-column: 1 / -1;
}
