.main-layout {
    display: grid;
    place-content: center;
    column-gap: 0.3rem;

    grid-template-columns: 0px 1fr 0px;
    /* grid-template-columns: 0px minmax(auto, 450px) 0px; */
}
.main-layout > * {
    grid-column: 2;
}

.main-layout > .full {
    grid-column: 1 / -1;
}

/* @media (max-width: 1100px) {
    .main-layout {
        grid-template-columns: 0px minmax(auto, var(--normal-breakpoint)) 0px;
    }
}

@media (min-width: 960px) {
    .main-layout {
        grid-template-columns: 1fr minmax(auto, var(--narrow-breakpoint)) 1fr;
    }
} */

/* @include for-narrow-layout {
         grid-template-columns:
             1fr
             minmax(auto, $mobile-breakpoint)
             1fr;
     
     @include for-normal-layout {
         grid-template-columns:
             1fr
             minmax(auto, $narrow-breakpoint)
             1fr;
     
     @include for-wide-layout {
         grid-template-columns:
             1fr
             minmax(auto, $normal-breakpoint)
             1fr;
     } */
